			<!-- FOOTER MENU -->
			<section class="footer-menu">
				<div class="container-fluid py-5">
					<div class="row">
						<div class="col-sm-12 col-xl-3">
							<p class="title">Over Arnhem AAN</p>
							<p class="content">
								Onder het genot van een appeltaart bespreek je samen met je
								buren wat de mogelijkheden zijn.
							</p>
						</div>
						<div class="col-sm-12 col-xl-3">
							<p class="title">Wat ben jij?</p>
							<div class="type">
								<a href="#" class="rij"
									><p>Eigenaar</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>

								<a href="#" class="rij"
									><p>Huurder</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>

								<a href="#" class="rij"
									><p>Ondernemers/vereniging</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>
							</div>
						</div>
						<div class="col-sm-12 col-xl-3">
							<p class="title">Direct aan de slag</p>
							<div class="type">
								<a href="#" class="rij">
									<p>Tips</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit" />
								</a>

								<a href="#" class="rij"
									><p>Agenda</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>

								<a href="#" class="rij"
									><p>Gereedschap</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>

								<a href="#" class="rij"
									><p>Aanjager</p>
									<img src="../../static/assets/Algemeen/arrow.svg" alt="arrow-wit"
								/></a>
							</div>
						</div>
						<div class="col-sm-12 col-xl-3">
							<div class="social">
								<a href="#" target="_blank"
									><img src="../../static/assets/social/facebook/black.png" alt="facebook"
								/></a>
								<a href="#" target="_blank"
									><img
										src="../../static/assets/social/instagram/black.png"
										alt="instagram"
								/></a>
								<a href="#" target="_blank"
									><img src="../../static/assets/social/linkedin/black.png" alt="linkedin"
								/></a>
								<a href="#" target="_blank"
									><img src="../../static/assets/social/twitter/black.png" alt="twitter"
								/></a>
								<a href="#" target="_blank"
									><img src="../../static/assets/social/youtube/black.png" alt="youtube"
								/></a>
							</div>
							<div class="logo-arnhemaan">
								<a href="#">
									<img
										class="logo-arnhemaan-img"
										src="../../static/assets/Logos/ArnhemAAN.svg"
										alt=""
								/></a>
							</div>
							<div class="logo-energieloket">
								<a href="#"><img
									class="logo-energieloket-img"
									src="../../static/assets/Logos/ELMG-logo.svg"
									alt=""
								/></a>
							</div>
						</div>
					</div>
				</div>
			</section>