			<!-- FOOTER -->
			<footer>
				<div class="container-fluid">
					<div class="row footer">
						<div class="col-sm-6 col-xl-3 footer-item">
							<a href="#"><p>Privacyverklaring</p></a>
						</div>
						<div class="col-sm-6 col-xl-3 footer-item">
              <a href="#"><p>Disclaimer</p></a>
						</div>
						<div class="col-sm-6 col-xl-3 footer-item">
							<a href="#"><p>Cookieverklaring</p></a>
						</div>
						<div class="col-sm-6 col-xl-3 footer-item">
							<a href="#"><p>Voorwaarden</p></a>
						</div>
					</div>
				</div>
			</footer>