        <!-- NAVIGATIE -->
        <div class="container-fluid">
        	<div class="shadow"></div>
        	<nav class="navbar-fixed-top">
        		<div class="nav-logo">
        			<a href="#"><img src="../../static/assets/Logos/ArnhemAAN.svg" alt="" /></a>
        		</div>
        		<div class="nav-items">
        			<ul class="navigatie">
        				<a href="./gebruiker">
        					<li>Eigenaar</li>
        				</a>
        				<a href="#">
        					<li>Huurder</li>
        				</a>
        				<a href="#">
        					<li>Ondernemers/verenigingen</li>
        				</a>
        			</ul>
        			<div class="accessoires">
        				<div class="magnify">
        					<i class="fas fa-search"></i>
        				</div>
        				<div class="lettergrootte">
        					<p>a A <i class="fas fa-chevron-down"></i></p>
        				</div>
        			</div>
        		</div>
        		<div class="nav-toggle"><span class="bars"></span></div>
        	</nav>
        </div>

        <div class="container-fluid mobiel-menu">
        	<div class="nav-logo">
        		<a href="#"><img src="../../static/assets/Logos/ArnhemAAN.svg" alt="" /></a>
        	</div>
        	<div class="nav-gebruikers">
        		<ul>
        			<li><a href="#">Eigenaar</a></li>
        			<li><a href="#">Huurder</a></li>
        			<li><a href="#">Ondernemers / verenigingen</a></li>
        		</ul>
        	</div>
        	<div class="nav-lijn">
        		<hr>
        	</div>
        	<div class="nav-overige-links">
        		<ul>
        			<li><a href="#">Tips</a></li>
        			<li><a href="#">Agenda</a></li>
        			<li><a href="#">Gereedschap</a></li>
        			<li><a href="#">Aanjaagfonds</a></li>
        			<li><a href="#">Lijn2030</a></li>
        			<li><a href="#">Energy Café</a></li>
        		</ul>
        	</div>
        	<div class="nav-iconen">
        		<div class="nav-icoon-vergrootglas">
        			<i class="fas fa-search"></i>
        		</div>
        		<div class="nav-icoon-lettergrootte">
        			<p>a A</p>
        		</div>
        	</div>
        </div>