{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<script src="https://kit.fontawesome.com/783ddc548c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css?v=2' %}" />
</head>

<body>
	{% include "./algemeen/navigatie.html" %} {% include "./home/header.html" %}
	{% include "./home/gebruikers.html" %} {% include "./home/diensten.html" %}
	{% include "./home/nieuws-carousel.html" %} {% include "./algemeen/initiatieven.html" %}
	{% include "./home/map.html" %}
	{% include "./home/nieuwsbrief.html" %} {% include "./algemeen/footer-menu.html" %}
	{%include "./algemeen/footer.html" %}



	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	<script src="{% static '/js/slick-1.8.1/slick/slick.js' %}"></script>
	<script src="{% static '/js/script.js' %}"></script>
</body>

</html>