@import url('https://p.typekit.net/p.css?s=1&k=moz5nqr&ht=tk&f=2032&a=5795951&app=typekit&e=css');

/* variables */
body {
	--color-white: #fff;
	--background-color-white: #fff;
	--background-color-light: #f5fffe;

	--oranje: #ee7c05;
	--licht-oranje: #fcf8f2;

	--groen-button: #3eb6b7;

	// sectie typen gebruikers
	--licht-groen: #5ecaa8;
	--donker-groen: #069782;
	--aqua: #01b7b7;
}

/* resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* main styles */

body {
	font-family: 'museo-slab', serif;
	font-style: normal;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.section-title {
	font-size: 45px;
	font-weight: bold;
}

/* padding wrapper en secties */

section.diensten,
section.initiatieven,
section.nieuws {
	padding: 0 9%;
}

nav {
	padding: 2em 7% 2em 7%;
}




// MEDIA QUERIES
@media screen and(max-width: 768px) {
	.shadow {
		display: none;
	}

	.container-fluid {
		padding: 0 !important;
	}
}