			<!-- DIENSTEN -->
			<section class="diensten">
				<div class="container-fluid py-5">
					<div class="row">
						<h1 class="section-title diensten-title">
							Wij helpen mee met van alles
						</h1>
					</div>
					<div class="row diensten-wrapper">
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst1">
								<a href="#"
									><i class="far fa-lightbulb fa-7x"></i>
									<p>Tips</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst2">
								<a href="#"
									><i class="fas fa-book fa-7x"></i>
									<p>Agenda</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst3">
								<a href="#"
									><i class="fas fa-toolbox fa-7x"></i>
									<p>Gereedschap</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst4">
								<a href="#"
									><i class="fas fa-euro-sign fa-7x"></i>
									<p>AANjaagfonds</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst5">
								<a href="#"
									><i class="fas fa-bus-alt fa-7x"></i>
									<p>Lijn2030</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst6">
								<a href="#"
									><i class="fas fa-plug fa-7x"></i>
									<p>Energy cafe</p></a
								>
							</div>
						</div>
						<div class="col col-xs-6 col-lg">
							<div class="dienst dienst7">
								<a href="#"
									><i class="fas fa-question fa-7x"></i>
									<p>FAQ</p></a
								>
							</div>
						</div>
					</div>
				</div>
			</section>