		<!-- GEBRUIKERS -->
		<main>
			<section class="gebruikers">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-4 col-md-12 col col1">
							<a href="/eigenaren.html">
								<h1>Eigenaar</h1>
								<div>
									<img src="../../static/assets/Gebruikers/SVG/Group16.svg" alt="" />
								</div>
							</a>
						</div>
						<div class="col-xl-4 col-md-12 col col2">
							<a href="#"
								><h1>Huurder</h1>
								<div>
									<img src="../../static/assets/Gebruikers/SVG/Group53.svg" alt="" /></div
							></a>
						</div>
						<div class="col-xl-4 col-md-12 col col3">
							<a href="#"
								><h1>Ondernemers/<br />verenigingen</h1>
								<div>
									<img src="../../static/assets/Gebruikers/SVG/Group52.svg" alt="" /></div
							></a>
						</div>
					</div>
				</div>
			</section>