		<!-- HEADER -->
		<header>
			<div class="container-fluid p-0">
				<!--Carousel Wrapper-->
				<div
					id="carousel-example-2"
					class="carousel slide carousel-fade"
					data-ride="carousel"
				>
					<!--Indicators-->
					<ol class="carousel-indicators">
						<li
							data-target="#carousel-example-2"
							data-slide-to="0"
							class="active"
						></li>
						<li data-target="#carousel-example-2" data-slide-to="1"></li>
						<li data-target="#carousel-example-2" data-slide-to="2"></li>
					</ol>
					<!--/.Indicators-->
					<!--Slides-->
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="view">
								<img
									class="d-block w-100"
									src="../../static/assets/Hero/hero.jpg"
									alt="First slide"
								/>
								<div class="mask rgba-black-light"></div>
							</div>
							<div class="carousel-caption">
								<h1 class="hero-titel-h1">
									Wij kunnen je helpen met energiebesparing
								</h1>
								<h3>Doe je ook mee?</h3>
								<a href="#">
									<p>
										Bekijk hoe
										<span><i class="fas fa-arrow-right"></i></span></p
								></a>
							</div>
						</div>
						<div class="carousel-item">
							<!--Mask color-->
							<div class="view">
								<img
									class="d-block w-100"
									src="../../static/assets/Hero/hero6.jpg"
									alt="Second slide"
								/>
								<div class="mask rgba-black-strong"></div>
							</div>
							<div class="carousel-caption">
								<h1 class="hero-titel-h1">
									Wij kunnen je helpen met energiebesparing
								</h1>
								<h3>Doe je ook mee?</h3>
								<a href="#">
									<p>
										Bekijk hoe
										<span><i class="fas fa-arrow-right"></i></span></p
								></a>
							</div>
						</div>
						<div class="carousel-item">
							<!--Mask color-->
							<div class="view">
								<img
									class="d-block w-100"
									src="../../static/assets/Hero/hero3.jpg"
									alt="Third slide"
								/>
								<div class="mask rgba-black-slight"></div>
							</div>
							<div class="carousel-caption">
								<h1 class="hero-titel-h1">
									Wij kunnen je helpen met energiebesparing
								</h1>
								<h3>Doe je ook mee?</h3>
								<a href="#">
									<p>
										Bekijk hoe
										<span><i class="fas fa-arrow-right"></i></span></p
								></a>
							</div>
						</div>
					</div>
					<!--/.Slides-->
				</div>
				<!--/.Carousel Wrapper-->
			</div>
		</header>