			<!-- INITIATIEVEN -->
			<section class="initiatieven">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-xl-4">
							<div class="initiatief initiatief1">
								<img
									src="../../static/assets/Initiatieven/ondernemersinitiatief.png"
									alt="aan de slag"
								/>
								<div class="subtitle">ondernemersiniatief</div>
								<div class="title">Duurzaam Craneveer</div>
								<p>
									Onder genot van een appeltaart bespreek je samen met je buren
									wat de mogelijkheden zijn
								</p>
								<p class="initiatief-button">
									Lees meer <i class="fas fa-arrow-right"></i>
								</p>
							</div>
						</div>
						<div class="col-md-12 col-xl-4">
							<div class="initiatief initiatief2">
								<img
									src="../../static/assets/Initiatieven/wijkinitiatief.png"
									alt="wijkiniatief"
								/>
								<div class="subtitle">wijkiniatief</div>
								<div class="title">
									PUURland bezorgt met elektrische bakfiets
								</div>
								<p>
									Onder genot van een appeltaart bespreek je samen met je buren
									wat de mogelijkheden zijn
								</p>
								<p class="initiatief-button">
									Lees meer <i class="fas fa-arrow-right"></i>
								</p>
							</div>
						</div>
						<div class="col-md-12 col-xl-4">
							<div class="initiatief initiatief3">
								<img src="../../static/assets/Initiatieven/aandeslag.png" alt="" />
								<div class="subtitle">aan de slag</div>
								<div class="title">Sint Marten van het gas af</div>
								<p>
									Onder genot van een appeltaart bespreek je samen met je buren
									wat de mogelijkheden zijn
								</p>
								<p class="initiatief-button">
									Lees meer <i class="fas fa-arrow-right"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>