			<!-- MAP -->
			<section class="map">
				<div class="container-fluid py-5">
					<div class="row">
						<div class="col">
							<h1 class="map-titel">Alle iniatieven in kaart</h1>
							<div id="mapid">
								<div class="map-wrapper">
									<div class="map-wrapper-content">
										<div class="arrow-down">
											<img src="../../static/assets/Algemeen/arrow-aqua-down.svg" alt="" />
										</div>
										<h1>Initiatieven</h1>
										<p>
											Onder genot van een appeltaart bespreek je samen met je
											buren wat de mogelijkheden zijn
										</p>
										<div class="iniatief-ondernemersinitiatief">
											<div class="groene-cirkel"></div>
											<p>Ondernemersiniatief</p>
										</div>
										<div class="initiatief-wijkinitiatief">
											<div class="oranje-cirkel"></div>
											<p>Wijkiniatief</p>
										</div>
									</div>
									<div class="legenda">
										<p>Legenda en informatie</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>