			<!-- NIEUWSBRIEF  -->
			<section class="nieuwsbrief">
				<div class="container-fluid">
					<div class="row">
						<div class="afbeelding-links">
							<img src="../../static/assets/Nieuwsbrief/Group6.svg" alt="" />
						</div>
						<div class="afbeelding-rechts">
							<img src="../../static/assets/Nieuwsbrief/Group13.svg" alt="" />
						</div>
						<div class="col">
							<div class="title">Blijf op de hoogte</div>
							<div class="formulier">
								<form>
									<input name="email" type="email" value="Type je emailadres" />
									<button class="nieuwsbrief-btn" type="submit" value="Submit">
										Aanmelden
										<svg
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											width="24.958"
											height="20.921"
											viewBox="0 0 24.958 20.921"
										>
											<defs>
												<style>
													.a {
														fill: none;
													}
													.b {
														clip-path: url(#a);
													}
													.c {
														fill: #ffffff;
													}
												</style>
												<clipPath id="a">
													<rect class="a" width="24.958" height="20.921" />
												</clipPath>
											</defs>
											<g class="b">
												<g transform="translate(24.958) rotate(180)">
													<path
														class="c"
														d="M-23.458,8.748a1.824,1.824,0,0,1,.309-.022H-5.542l-.384-.175a3.572,3.572,0,0,1-1.009-.7l-4.938-4.826A1.777,1.777,0,0,1-12.131.714a1.813,1.813,0,0,1,2.5-.377,1.778,1.778,0,0,1,.183.15L-.524,9.215a1.718,1.718,0,0,1,0,2.468h0l-8.929,8.727a1.815,1.815,0,0,1-2.525,0,1.763,1.763,0,0,1-.153-.171,1.777,1.777,0,0,1,.259-2.313l4.929-4.835a3.569,3.569,0,0,1,.893-.637l.536-.236H-23.051a1.84,1.84,0,0,1-1.884-1.466A1.751,1.751,0,0,1-23.458,8.748Z"
														transform="rotate(180)"
													/>
												</g>
											</g>
										</svg>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>