			<!-- NIEUWS -->
			<section class="nieuws">
				<div class="container-fluid py-5">
					<div class="row">
						<div class="col">
							<h1>Initiatieven en nieuws</h1>
						</div>
					</div>
					<div class="row">
						<div class="shadow-inversed"></div>
						<div class="col">
							<div class="nieuws-carousel">
								<div class="nieuws-item nieuws-item__1">
									<div class="nieuws-item__content">
										<div class="content__boventitel">
											<p>wijkiniatief</p>
										</div>
										<div class="content__inhoud">
											<div class="titel-en-tekst">
												<h1>Bekijk wat Kim groen maakt</h1>
												<p class="tekst">
													Onder het genot van een appeltaart bespreek je samen
													met je buren wat de mogelijkheden zijn.
												</p>
											</div>
											<div class="inhoud-button">
												<a href="#">
													<p class="nieuws-button">
														Lees meer <i class="fas fa-arrow-right"></i>
													</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="nieuws-item nieuws-item__2">
									<div class="nieuws-item__content">
										<div class="content__boventitel">
											<p>wijkiniatief</p>
										</div>
										<div class="content__inhoud">
											<div class="titel-en-tekst">
												<h1>Bekijk wat Kim groen maakt</h1>
												<p class="tekst">
													Onder het genot van een appeltaart bespreek je samen
													met je buren wat de mogelijkheden zijn.
												</p>
											</div>
											<div class="inhoud-button">
												<a href="#"
													><p class="nieuws-button">
														Lees meer <i class="fas fa-arrow-right"></i></p
												></a>
											</div>
										</div>
									</div>
								</div>
								<div class="nieuws-item nieuws-item__3">
									<div class="nieuws-item__content">
										<div class="content__boventitel">
											<p>wijkiniatief</p>
										</div>
										<div class="content__inhoud">
											<div class="titel-en-tekst">
												<h1>Bekijk wat Kim groen maakt</h1>
												<p class="tekst">
													Onder het genot van een appeltaart bespreek je samen
													met je buren wat de mogelijkheden zijn.
												</p>
											</div>
											<div class="inhoud-button">
												<a href="#"
													><p class="nieuws-button">
														Lees meer <i class="fas fa-arrow-right"></i></p
												></a>
											</div>
										</div>
									</div>
								</div>
								<div class="nieuws-item nieuws-item__4">
									<div class="nieuws-item__content">
										<div class="content__boventitel">
											<p>wijkiniatief</p>
										</div>
										<div class="content__inhoud">
											<div class="titel-en-tekst">
												<h1>Bekijk wat Kim groen maakt</h1>
												<p class="tekst">
													Onder het genot van een appeltaart bespreek je samen
													met je buren wat de mogelijkheden zijn.
												</p>
											</div>
											<div class="inhoud-button">
												<a href="#"
													><p class="nieuws-button">
														Lees meer <i class="fas fa-arrow-right"></i></p
												></a>
											</div>
										</div>
									</div>
								</div>
								<div class="nieuws-item nieuws-item__5">
									<div class="nieuws-item__content">
										<div class="content__boventitel">
											<p>wijkiniatief</p>
										</div>
										<div class="content__inhoud">
											<div class="titel-en-tekst">
												<h1>Bekijk wat Kim groen maakt</h1>
												<p class="tekst">
													Onder het genot van een appeltaart bespreek je samen
													met je buren wat de mogelijkheden zijn.
												</p>
											</div>
											<div class="inhoud-button">
												<a href="#"
													><p class="nieuws-button">
														Lees meer <i class="fas fa-arrow-right"></i></p
												></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>