section.eigenaar-content {
  margin: 5em 5em;
  position: relative;
  height: 80vh; }
  section.eigenaar-content .content-links {
    position: absolute;
    height: 60vh;
    top: 100px;
    left: 0;
    width: 60%;
    background-color: var(--background-color-light);
    z-index: 300;
    padding: 30px; }
    section.eigenaar-content .content-links h1 {
      font-size: 50px;
      font-weight: bold; }
    section.eigenaar-content .content-links p {
      font-size: 35px;
      margin-top: 30px; }
  section.eigenaar-content .afbeelding {
    position: absolute;
    top: 0;
    left: 30%;
    background-image: url(imgpath/Hero/hero.jpg);
    height: 80vh;
    width: 70%;
    background-position: -800px -650px; }

section.diensten {
  background-color: var(--background-color-light); }
  section.diensten .diensten-title {
    margin: 2em auto; }
  section.diensten .diensten-wrapper .dienst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    margin: 0 20px;
    background-color: var(--oranje);
    color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center; }
    section.diensten .diensten-wrapper .dienst:hover {
      transform: scale(1.1);
      z-index: 2; }
    section.diensten .diensten-wrapper .dienst p {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px; }
  section.diensten .diensten-wrapper .dienst1 {
    margin-left: auto; }

section.footer-menu {
  padding: 2em 11% 0 11%;
  background-color: var(--oranje);
  color: var(--color-white); }
  section.footer-menu .title {
    font-size: 30px;
    font-weight: bold; }
  section.footer-menu p {
    font-size: 25px; }
  section.footer-menu .rij {
    display: flex;
    justify-content: space-between; }
    section.footer-menu .rij img {
      margin-right: 120px;
      transform: scale(2); }
  section.footer-menu .social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    section.footer-menu .social img {
      margin-right: 10px;
      transform: scale(1.5); }
  section.footer-menu .logo-arnhemaan-img {
    margin-bottom: 20px;
    width: 100%; }
  section.footer-menu .logo-energieloket-img {
    width: 100%; }

footer {
  background-color: var(--groen-button); }
  footer .footer {
    padding: 2em 11% 1em 11%;
    color: var(--color-white);
    display: flex; }
    footer .footer p {
      font-size: 25px; }

@media screen and (max-width: 768px) {
  .shadow {
    display: none; }
  .container-fluid {
    padding: 0 !important; }
  nav {
    display: none; }
  section.diensten .diensten-title {
    margin: 50px auto; }
  section.diensten .dienst {
    margin-bottom: 20px !important; }
  section.initiatieven {
    padding: 0; } }

section.gebruikers .col {
  color: var(--color-white);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease; }
  section.gebruikers .col:hover {
    transform: scale(1.01);
    z-index: 2;
    border-radius: 5px; }
  section.gebruikers .col h1 {
    font-size: 65px;
    margin-top: 40px;
    font-weight: 700; }
  section.gebruikers .col img {
    height: 200px;
    margin: 40px 0;
    width: 100%; }

section.gebruikers #aan-de-slag {
  background-color: var(--licht-groen); }
  section.gebruikers #aan-de-slag::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: var(--licht-groen);
    transform-origin: 0 0;
    transform: rotate(-45deg); }

section.gebruikers #financieel {
  background-color: var(--donker-groen); }
  section.gebruikers #financieel::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: var(--donker-groen);
    transform-origin: 0 0;
    transform: rotate(-45deg); }

section.gebruikers .active {
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4); }

section.gebruikers .no-after::after {
  content: none !important; }

section.gebruikers .do-after::after {
  content: '' !important; }

header {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70vh;
  background-image: url(imgpath/Hero/hero-eigenaar.png);
  background-size: cover;
  background-position: center; }
  header .header-content {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-left: 10%;
    margin-bottom: 200px; }
    header .header-content .tekst {
      margin-bottom: 10%; }
    header .header-content h1,
    header .header-content h3 {
      text-align: left;
      font-weight: bold; }
    header .header-content h1 {
      color: var(--color-white);
      font-size: 110px;
      margin-bottom: 30px; }
    header .header-content h3 {
      margin-bottom: 30px;
      font-size: 50px; }
    header .header-content img {
      width: 70%;
      margin-bottom: 20%; }

.shadow {
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 70vh;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.51) 0%, rgba(153, 153, 153, 0) 67%, rgba(229, 229, 229, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.51) 0%, rgba(153, 153, 153, 0) 67%, rgba(229, 229, 229, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.81) 0%, rgba(153, 153, 153, 0) 40%, rgba(229, 229, 229, 0) 100%); }

.navbar-fixed-top {
  top: 0;
  left: 0;
  transition: all 0.3s ease; }

nav {
  position: fixed;
  width: 100%;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white); }
  nav .nav-logo {
    transform: scale(1.2); }
  nav .nav-items {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-size: 30px; }
    nav .nav-items ul,
    nav .nav-items .accessoires {
      display: flex;
      font-weight: bold; }
      nav .nav-items ul li,
      nav .nav-items .accessoires li {
        list-style: none;
        margin: 0 40px;
        padding: 20px 30px;
        cursor: pointer; }
        nav .nav-items ul li:hover,
        nav .nav-items .accessoires li:hover {
          background-color: var(--color-white);
          color: var(--groen-button);
          border-radius: 500px; }
      nav .nav-items ul .magnify,
      nav .nav-items .accessoires .magnify {
        margin-right: 50px; }
    nav .nav-items .accessoires {
      padding: 20px 30px; }
