//! DIENSTEN
section.diensten {
	background-color: var(--background-color-light);

	.diensten-title {
		margin: 2em auto;
	}

	.diensten-wrapper {
		.dienst {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 220px;
			width: 220px;
			margin: 0 20px;
			background-color: var(--oranje);
			color: var(--color-white);
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.5s ease;
			text-align: center;

			&:hover {
				transform: scale(1.1);
				z-index: 2;
			}

			p {
				font-size: 20px;
				font-weight: bold;
				margin-top: 10px;
			}
		}

		.dienst1 {
			margin-left: auto;
		}
	}
}