//! FOOTER
footer {
	background-color: var(--groen-button);
	.footer {
		padding: 2em 11% 1em 11%;
		color: var(--color-white);
		display: flex;

		p {
			font-size: 25px;
		}
	}
}

// MEDIA QUERIES
@media screen and(max-width: 768px) {
	.shadow {
		display: none;
	}

	.container-fluid {
		padding: 0 !important;
	}

	nav {
		display: none;
	}

	section.diensten {
		.diensten-title {
			margin: 50px auto;
		}

		.dienst {
			margin-bottom: 20px !important;
		}
	}

	section.initiatieven {
		padding: 0;
	}
}
