// Variable to assets path
$imgpath: "static/assets/";

//! INITIATIEVEN
section.initiatieven {
	.initiatief {
		display: flex;
		flex-direction: column;
		height: 100%;

		img {
			width: 100%;
		}

		.subtitle {
			text-transform: uppercase;
			font-size: 18px;
			padding: 30px 0 5px 30px;
		}

		.title {
			font-weight: bold;
			font-size: 35px;
			padding: 10px 30px;
		}

		p {
			font-size: 30px;
			padding: 5px 0 5px 30px;
			max-width: 70%;
		}

		.initiatief-button {
			display: inline-block;
			width: 250px;
			text-align: center;
			background-color: transparent;
			padding: 15px;
			font-size: 30px;
			font-weight: bold;
			border-radius: 500px;
			margin-left: 30px;
			cursor: pointer;
		}
	}

	.initiatief1 {
		background-color: var(--background-color-light);

		.initiatief-button {
			color: var(--groen-button);
			border: 3px solid var(--groen-button);
		}
	}

	.initiatief2 {
		background-color: var(--licht-oranje);

		.initiatief-button {
			color: var(--oranje);
			border: 3px solid var(--oranje);
		}
	}

	.initiatief3 {
		background-color: var(--background-color-light);

		.initiatief-button {
			color: var(--groen-button);
			border: 3px solid var(--groen-button);
		}
	}
}



// MEDIA QUERIES
@media screen and(max-width: 768px) {
	section.initiatieven {
		padding: 0;
	}
}
