			<!-- DIENSTEN -->
			<section class="diensten">
				<div class="container-fluid py-5">
					<div class="row">
						<h1 class="section-title diensten-title">
							Wij helpen mee met van alles
						</h1>
					</div>
					<div class="row diensten-wrapper">
						<div class="col">
							<div class="dienst dienst1">
								<a href="#"
									><i class="far fa-lightbulb fa-7x"></i>
									<p>Tips</p></a
								>
							</div>
						</div>
						<div class="col">
							<div class="dienst dienst2">
								<a href="#"
									><i class="fas fa-book fa-7x"></i>
									<p>Agenda</p></a
								>
							</div>
						</div>
					</div>
				</div>
			</section>