			<!-- GEBRUIKER CONTENT -->
			<section class="gebruiker-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="content-links">
								<h1 id="gebruiker-titel">Aan de slag</h1>
								<p id="gebruiker-content">
									<strong
										>Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Quisquam rerum ut velit veniam expedita! Repellendus aut
										aliquid explicabo? Pariatur velit magnam ea eligendi fugit
										est eaque suscipit ratione totam corporis, tenetur aperiam
										aspernatur omnis quisquam et dolor temporibus</strong
									><br /><br />Itaque ab assumenda commodi odit dolores quaerat
									laboriosam corrupti. Beatae quaerat nemo vitae explicabo
									voluptatum excepturi maiores quo nihil cum unde? Aliquid alias
									ipsam sint modi fuga ipsum, laboriosam quo quaerat. Natus,
									possimus mollitia saepe hic odio, illo dicta repudiandae
									expedita harum quae, adipisci porro! Natus ullam suscipit
									corrupti officiis magni animi, perspiciatis qui nihil
									delectus.
								</p>
							</div>
							<div class="afbeelding"></div>
						</div>
					</div>
				</div>
			</section>