		<!-- GEBRUIKERS -->
		<main>
			<section class="gebruikers">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-6 col-md-12 col col1 active" id="aan-de-slag">
							<h1>Aan de slag</h1>
							<div>
								<img src="/Assets/Eigenaar pagina/aandeslag-icoon.svg" alt="" />
							</div>
						</div>
						<div class="col-xl-6 col-md-12 col col2" id="financieel">
							<h1>Financieel</h1>
							<div>
								<img
									src="/Assets/Eigenaar pagina/financieel_icoon.svg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</section>