section.gebruikers .col {
  color: var(--color-white);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease; }
  section.gebruikers .col:hover {
    transform: scale(1.01);
    z-index: 2;
    border-radius: 5px; }
  section.gebruikers .col h1 {
    font-size: 65px;
    margin-top: 40px;
    font-weight: 700; }
  section.gebruikers .col img {
    height: 250px;
    margin: 40px 0;
    width: 100%; }

section.gebruikers .col1 {
  background-color: var(--licht-groen); }

section.gebruikers .col2 {
  background-color: var(--donker-groen); }

section.gebruikers .col3 {
  background-color: var(--aqua); }

header {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  header .carousel {
    position: relative; }
    header .carousel img {
      width: 100%;
      height: 80vh;
      object-fit: cover; }
    header .carousel .carousel-caption {
      left: 11%;
      margin-bottom: 200px; }
      header .carousel .carousel-caption h1,
      header .carousel .carousel-caption h3,
      header .carousel .carousel-caption p {
        text-align: left;
        font-weight: bold; }
      header .carousel .carousel-caption h1 {
        color: var(--color-white);
        font-size: 90px;
        margin-bottom: 30px;
        max-width: 60%; }
      header .carousel .carousel-caption h3 {
        margin-bottom: 30px;
        font-size: 50px; }
      header .carousel .carousel-caption p {
        position: absolute;
        color: #000;
        background-color: var(--background-color-white);
        padding: 20px 30px;
        font-size: 30px;
        border-radius: 500px; }
      header .carousel .carousel-caption a {
        z-index: 15000; }
  header .carousel .carousel-indicators {
    z-index: 1400; }
    header .carousel .carousel-indicators li {
      width: 0.625rem;
      height: 0.625rem;
      cursor: pointer;
      border-radius: 50%; }
  header .hero-tekst {
    padding-bottom: 5em;
    max-width: 1000px; }
    header .hero-tekst h1 {
      font-size: 90px;
      font-weight: bold; }
    header .hero-tekst h3 {
      font-size: 50px; }
    header .hero-tekst button {
      border: none;
      border-radius: 30px;
      padding: 5px 20px;
      font-size: 30px;
      margin-top: 20px; }

@media screen and (max-width: 1200px) {
  header .carousel .carousel-caption {
    left: 11%;
    margin-bottom: 200px; }
    header .carousel .carousel-caption h1 {
      font-size: 50px;
      max-width: 100%; }
    header .carousel .carousel-caption h3 {
      font-size: 30px; } }

section.map {
  position: relative; }
  section.map .map-titel {
    padding: 0 9%;
    font-weight: bold;
    margin-bottom: 1em; }
  section.map .container-fluid {
    padding: 0; }
  section.map #mapid {
    height: 55vh; }
    section.map #mapid .leaflet-tile-pane {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  section.map .map-wrapper {
    position: absolute;
    z-index: 1000;
    width: 600px;
    height: 500px;
    background-color: #fff;
    left: 200px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    cursor: initial; }
    section.map .map-wrapper .arrow-down {
      position: absolute;
      right: 40px;
      transform: scale(2);
      cursor: pointer; }
    section.map .map-wrapper .map-wrapper-content {
      padding: 3em; }
      section.map .map-wrapper .map-wrapper-content h1 {
        color: var(--groen-button); }
      section.map .map-wrapper .map-wrapper-content .groene-cirkel,
      section.map .map-wrapper .map-wrapper-content .oranje-cirkel {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        margin-bottom: 20px; }
      section.map .map-wrapper .map-wrapper-content .iniatief-ondernemersinitiatief,
      section.map .map-wrapper .map-wrapper-content .initiatief-wijkinitiatief {
        display: flex;
        align-items: center; }
      section.map .map-wrapper .map-wrapper-content .groene-cirkel {
        background-color: var(--groen-button); }
      section.map .map-wrapper .map-wrapper-content .oranje-cirkel {
        background-color: var(--oranje); }
    section.map .map-wrapper .legenda {
      background-color: var(--groen-button);
      color: #fff;
      height: 80px;
      padding: 30px 3em; }

@media screen and (max-width: 768px) {
  section.map .map-wrapper {
    display: none; } }

section.nieuws {
  position: relative; }
  section.nieuws .slick-prev,
  section.nieuws .slick-next {
    position: absolute; }
  section.nieuws .slick-prev {
    left: 200px;
    z-index: 200; }
  section.nieuws .slick-next {
    right: 200px;
    z-index: 200; }
  section.nieuws .nieuws-item {
    height: 700px;
    margin: 10px;
    background-size: cover;
    background-position: center; }
    section.nieuws .nieuws-item__1 {
      background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(153, 153, 153, 0) 40%, rgba(0, 0, 0, 0.81) 100%), url(imgpath/vrouw-met-bloemen.jpg);
      background-size: cover;
      background-position: center; }
    section.nieuws .nieuws-item__2 {
      background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(153, 153, 153, 0) 40%, rgba(0, 0, 0, 0.81) 100%), url(imgpath/Hero/hero2.jpg); }
    section.nieuws .nieuws-item__3 {
      background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(153, 153, 153, 0) 40%, rgba(0, 0, 0, 0.81) 100%), url(imgpath/Hero/hero3.jpg); }
    section.nieuws .nieuws-item__4 {
      background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(153, 153, 153, 0) 40%, rgba(0, 0, 0, 0.81) 100%), url(imgpath/Hero/hero4.jpg); }
    section.nieuws .nieuws-item__5 {
      background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(153, 153, 153, 0) 40%, rgba(0, 0, 0, 0.81) 100%), url(imgpath/Hero/hero5.jpg); }
    section.nieuws .nieuws-item__content {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 4em;
      color: var(--color-white); }
      section.nieuws .nieuws-item__content .content__boventitel {
        font-size: 30px;
        text-shadow: 0px 1px 5px #000000; }
      section.nieuws .nieuws-item__content .content__inhoud {
        display: flex;
        justify-content: space-between; }
        section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst {
          width: auto; }
          section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst h1 {
            font-size: 60px;
            font-weight: bold; }
          section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst .tekst {
            width: 60%;
            font-size: 30px; }
      section.nieuws .nieuws-item__content .nieuws-button {
        display: flex;
        width: 200px;
        border: none;
        border-radius: 30px;
        padding: 5px 20px;
        font-size: 25px;
        margin-top: 120px;
        background-color: var(--oranje);
        display: inline-block;
        text-align: center; }

@media screen and (max-width: 768px) {
  section.nieuws {
    margin: 0; }
    section.nieuws .slick-prev,
    section.nieuws .slick-next {
      display: none !important; }
    section.nieuws .nieuws-item__content .content__inhoud {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      section.nieuws .nieuws-item__content .content__inhoud h1 {
        font-size: 30px;
        font-weight: bold; }
      section.nieuws .nieuws-item__content .content__inhoud .tekst {
        width: 100%;
        font-size: 18px; }
    section.nieuws .nieuws-item__content .nieuws-button {
      border: none;
      border-radius: 30px;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
      background-color: var(--color-white);
      color: #000;
      display: inline-block;
      justify-self: flex-end; } }

@media screen and (max-width: 1800px) {
  section.nieuws {
    position: relative; }
    section.nieuws .slick-prev,
    section.nieuws .slick-next {
      position: absolute; }
    section.nieuws .slick-prev {
      left: 200px;
      z-index: 200; }
    section.nieuws .slick-next {
      right: 200px;
      z-index: 200; }
    section.nieuws .nieuws-item {
      height: 700px;
      margin: 10px;
      background-size: cover;
      background-position: center; }
      section.nieuws .nieuws-item__content {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 4em;
        color: var(--color-white); }
        section.nieuws .nieuws-item__content .content__boventitel {
          font-size: 30px;
          text-shadow: 0px 1px 5px #000000; }
        section.nieuws .nieuws-item__content .content__inhoud {
          display: flex;
          justify-content: space-between; }
          section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst {
            width: auto; }
            section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst h1 {
              font-size: 30px;
              font-weight: bold; }
            section.nieuws .nieuws-item__content .content__inhoud .titel-en-tekst .tekst {
              width: 60%;
              font-size: 20px; }
        section.nieuws .nieuws-item__content .nieuws-button {
          display: flex;
          width: 200px;
          border: none;
          border-radius: 30px;
          padding: 5px 20px;
          font-size: 25px;
          margin-top: 120px;
          background-color: var(--oranje);
          color: var(--color-white);
          display: inline-block;
          text-align: center; } }

section.nieuwsbrief {
  background-color: var(--background-color-light);
  position: relative;
  padding: 6em 0; }
  section.nieuwsbrief .col {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.nieuwsbrief .col .title {
      color: var(--groen-button);
      font-size: 65px;
      margin-bottom: 1.5em;
      font-weight: bold; }
    section.nieuwsbrief .col .formulier {
      display: block; }
      section.nieuwsbrief .col .formulier input {
        padding: 20px;
        width: 800px;
        border-radius: 500px;
        border: 3px solid var(--groen-button);
        color: var(--groen-button);
        font-size: 20px; }
      section.nieuwsbrief .col .formulier .nieuwsbrief-btn {
        background-color: var(--groen-button);
        color: var(--color-white);
        font-weight: bold;
        padding: 10px 20px;
        font-size: 30px;
        border: none;
        border-radius: 500px;
        margin-left: 30px; }
  section.nieuwsbrief .afbeelding-rechts {
    position: absolute;
    right: 0;
    top: 50%;
    transform: scale(2); }
  section.nieuwsbrief .afbeelding-links {
    position: absolute;
    left: 0;
    top: 50%;
    transform: scale(2); }

@media screen and (max-width: 1200px) {
  section.nieuwsbrief {
    background-color: var(--background-color-light);
    position: relative;
    padding: 6em 0; }
    section.nieuwsbrief .row .col {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.nieuwsbrief .row .col .title {
        color: var(--groen-button);
        font-size: 65px;
        margin-bottom: 1.5em;
        font-weight: bold; }
      section.nieuwsbrief .row .col .formulier form {
        display: flex;
        flex-direction: column; }
      section.nieuwsbrief .row .col .formulier input {
        padding: 20px;
        width: 300px;
        border-radius: 500px;
        border: 3px solid var(--groen-button);
        color: var(--groen-button);
        font-size: 20px;
        margin-bottom: 2em; }
      section.nieuwsbrief .row .col .formulier .nieuwsbrief-btn {
        background-color: var(--groen-button);
        color: var(--color-white);
        font-weight: bold;
        padding: 10px 20px;
        font-size: 30px;
        border: none;
        border-radius: 500px;
        margin-left: 0; }
    section.nieuwsbrief .row .afbeelding-rechts {
      position: absolute;
      right: 0;
      top: 85%;
      transform: scale(1); }
    section.nieuwsbrief .row .afbeelding-links {
      position: absolute;
      left: 0;
      top: 85%;
      transform: scale(1); } }
